body{
    margin: 0;
    background-color: rgb(223, 213, 233);
}
h2{
    margin: 0px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 4vw;
    background-color: rgb(0, 0, 0);
}

.image-Container{
    background-color:rgb(223, 197, 197);
    flex-wrap: wrap;
    display: flex;
    row-gap: 4vh;
    justify-content: center;
}
button{
    border: none;
    outline: none;
    background: none;
}
.img-gellery{
    border: 3px solid rgb(255, 255, 255);
    width: 49vh;
    height: 30vh;
    max-width: 60vh;
}
.image-Container{
    padding-top: 6px;
    background-image:linear-gradient(rgba(23, 34, 45, 0.22),rgba(10, 19, 37, 0.72)), url('../usepics/bgpic.jpg');
}
u,#blue {
    color: blue;
}
.space-evenly-container{
    justify-content: space-evenly;
}
.assignmentQuestion{
    color: red;
}

.img-gellery:hover{
    border: 4px dotted rgb(86, 60, 193);
    zoom: 1.1;
    cursor: pointer;
}
.popup{
    position: absolute;
    top: 33%;
    left: 25%;
}
#temp {
    width: 44vw;
}
.close-button{
    cursor: pointer;
    position: absolute;
    right: 0;
}

.d-none{
    display: none;
}
 