body{
    margin: 0;
    padding: 0;
}
#fa-header-logo{
    margin-left: 20px;
    cursor: pointer;
    color: rgb(147, 141, 141);
}
.fa-nav-icon{
    cursor: pointer;
    margin-left: 20px;
    color: rgb(83, 191, 236);
}
.header {
    padding:25px 0 0 5px;
    background:linear-gradient(rgb(255, 255, 255), rgba(235, 245, 246, 0.17)), url("../UsePics/bcn.jpg");
    background-size:cover;
    background-position:center;
    height: 60vh;
}

.header-content{
    text-transform: uppercase;
    margin-left: 32vw;
    display: inline-block;
}
.header-nav-icon{
    display: inline-block;
    margin-left: 20px;
}
.header-right-nav{
    margin-left: 5vw;
    display: inline-block;
}
.header-content-bottom{
    text-align: center;
    display: block;
}
.left{
    position: relative;
    right: 20%;
}

#lost{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(221, 127, 127);
    font-weight: bold; 
    font-size: xx-large;
}
.error{
    font-family: 'Courier New', Courier, monospace;
    margin-top: -25vh;
}
.address_error{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #949191;
}
.address_para{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(108, 99, 99);
    font-weight: bold;
}
span{
    font-family: 'Courier New', Courier, monospace;
    color: #B7B7B7;
    cursor: pointer;
    font-size:x-large;
    font-weight: bold;
    margin-left: 2vw;
}
section{
    text-align: center;
    display: inline-flexbox;
    flex-wrap: wrap;
    row-gap: 5px;
    padding-bottom: 9vh;
    margin-top: 30px;
}
.help_message{
    padding: 50vh auto;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    color: #322f2f;
}
.detail-help-container{
    display: inline-flex;
    flex-wrap: wrap;
    row-gap: 5px;
    text-align: center;
}  
h3{
    text-transform: uppercase;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(83, 191, 236);
}
.detail-work{
    margin: 40px 20px 0px 0px;
    border: 3px solid #B7B7B7;
    width: 11vw;
    height: 20vh;
    overflow: hidden;
}
.section-bottom-icon{
    margin: 9vh 0 0vh auto;
}
.fa-icon{
    cursor: pointer;
    display: inline;
    margin-left: 2vw;
    color: #262626;
}
p{
    font-weight: 500;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    color: #322f2f; 
}
.image-map{
    cursor: pointer;
    opacity: 0.5;
    border-top: 5vh solid rgb(83, 191, 236);
}
.footer-mid-content{
    margin-top: -4px;
    padding-top: 1px;
    display: inline-flex;
    width: 100%;
    background-color: #3A3A3A;
}
.footer-mid-content-left{
    width: 30%;
    float: left;
    display: inline;
    text-align: justify;
    margin-left: 15vw;
    padding-top: 10vh;
}
.footer-mid-content-right{
      width: 12%;
      padding-top: 5vh;
      margin-left: 24vw;
      margin-bottom: 15vh;
}
input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid rgb(233, 225, 225);
    outline: none;
    height: 5vh;
    border-radius: 5px;
    background-color: #454545;
    text-align: center;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
label{
    color: rgb(233, 225, 225);
}
textarea{
    border: 3px solid rgb(233, 225, 225);
    background-color: #454545;
    outline: none;
    height: 10vh;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
strong{
    color: rgb(233, 225, 225);
    font-size: large;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}
.fa-footer{
    cursor: pointer;
    width: 18px;
    color: rgb(233, 225, 225);
}
h2{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: xx-large;
    color: rgb(83, 191, 236);
}
button{
    float: right;
    cursor: pointer;
    border: 2px solid  rgb(83, 191, 236);
    padding: 8px 12px;
    font-weight: bold;
    color:  rgb(83, 191, 236);
    background-color: #3A3A3A;
}
#footer-bottom{
    text-transform: uppercase;
    display: inline-flexbox;
    flex-wrap: wrap;
    row-gap: 5px;
    padding: 38px 0 44px 0;
    background-color: rgb(83, 191, 236);
}
.footer-bottom-icon{
    cursor: pointer;
    float: left;
    color: rgb(233, 225, 225);
    padding-left: 14vw;
    background-color: rgb(83, 191, 236);
}
 .footer-nav{
    background-color: rgb(83, 191, 236);  
    cursor: pointer;  
    float: right;
    font-weight: bold;
    font-size: x-large;
    color: rgb(233, 225, 225);
    padding-right: 14vw;
    font-family: 'Courier New', Courier, monospace;
 }
 .footer-icon{
    color: rgb(233, 225, 225);
 }
 .fa-footer-icon{
     margin-left: 20px;
 }