
body{
    margin: 0;
    padding: 0;
    background-image: url('./bgRegistration.jpg');
    background-size: cover;
}  
#result{
    color: red;
    background-color: rgb(221, 221, 147);
    width: fit-content;
    border: 2px solid blue;
    border-radius: 20px;
    padding: 5px 10px;
}
.registration-text{
    color: blue;
}
.registration-text:hover{
    text-decoration: underline;
}
.registration-form{
    margin: auto;
    padding-top: 20px;
    background-image: url('./bgRegistration.jpg');
    background-size: cover;
    text-align: center;
    width: 70%;
    height: fit-content;
}
.registration > form i{
    position: absolute;
}
.flex-head{
    display: flexbox;
    flex-wrap: wrap;
    overflow: hidden;
}
.registration-form  .flex-head {
    font-size: xx-large;
    font-weight: bolder;
}
.click{
    margin-left: 90px;
}
.click:hover{
    text-decoration: underline;
}
.fa{
    color: rgb(10, 240, 10);
    margin-left: 11px;
    padding: 5px;
    min-width: 10px;
    text-align: center;
}
.input-form{
    width: 40%;
    padding: 15px 5px;
    text-align: center;
    background-color: #F8F1F2;
    border: none;
    outline: none;
    color: rgb(255, 0, 0);
    border-radius: 20px;
    font-size: medium;
    font-weight: bold;
}
select{
    background-color: #F8F1F2;
    padding: 15px 28px;
    border: none;
    outline: none;
    margin-left: 13px;
    width: 41%;
    border-radius: 20px;
    color: rgb(60, 0, 255);
}
span{
    color: blue;
    cursor: pointer;
}
.input-submit{
    background-color: #F8F1F2;
    color: blue;
    font-size:large;
    font-weight: bold;
    border: none;
    width: 40%;
    border-radius: 30px;
    padding: 10px 15px;
    cursor: pointer;
    outline: none;
}
.input-submit:hover{
    background-color: rgb(131, 187, 131);
    border: 1px solid gray;
    box-shadow: 5px 10px 20px rgb(115, 255, 0);
}
.input-reset{
    color: blue;
    font-size:large;
    font-weight: bold;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: #F8F1F2;
    width: 40%;
    border-radius: 30px;
    padding: 10px 15px;
}
.input-reset:hover{
    background-color: rgb(156, 240, 89);
    border: 1px solid gray;
    box-shadow: 5px 10px 20px rgb(106, 255, 0);
}
p{
    padding-bottom: 80px;
}
a{
    text-decoration: none;
    color: blue;
}
a:hover{
    text-decoration: underline;
}
a:active,.login-noactive{
    color: red;
}

p,.checkbox-text{
    color: white;
}
.active-registration{
    color: blue;
    text-decoration: underline;
}
#output_display{
    background-color: white;
    color: RED;
}
#assignment_detail {
    position: relative;
    border-radius: 2vh;
    padding: 6vh;
    bottom: 10vh;
    background: linear-gradient(rgb(206, 137, 211),rgb(255, 255, 255),rgb(211, 114, 114));
    animation: move 20s infinite;
    border-radius: 100px;
}
@keyframes move {
    0% {left: 130px; }
    66% {left: 800px; }
    100% {left: 130px; }
}
#assignment_detail:hover {
    background: linear-gradient(rgb(165, 238, 151),rgb(236, 223, 223),rgb(56, 36, 172));
}
