*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url('../usepics/bg.jpg');
    background-position: center;
    background-size: cover;
}
.wrapper{
    width: 400px;
    border-radius: 7px;
    background: #fff;
}
.wrapper header{
    color:  #43AFFC;
    font-size: 21px;
    font-weight: 500 ;
    padding: 16px 15px;
    border-bottom: 1px solid red;
    display: flex;
    align-items: center;
}
.wrapper.active header .input-part{
    font-size: 30px;
    margin-left: 5px;
}
header i{
    cursor: pointer;
    font-size: 0px;
    margin-right: 8px;
}
.input-part :where(input, button){
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
}
.input-part input{
    text-align: center;
    border: 1px solid #bfbfbf;
}
.wrapper .input-part{
    margin: 20px 25px 30px;
}
.wrapper.active .input-part{
    display: none;
}
.input-part button{
    color: #fff;
    background:  #43AFFC;
    cursor: pointer;
}
.input-part .seaprator {
    height: 1px;
    width: 100%;
    color: #ccc;
    margin: 25px 0;
    background: #ccc;
}
.seaprator::before{
    content: "or";
    font-size: 19px;
    padding: 0 15px;
    background: #fff;
}
.input-part .info-txt{
    font-size: 17px;
    text-align: center;
    border-radius: 7px;
    padding: 12px 10px;
    margin-bottom: 15px;
    display: none;
}
.input-part input:is(:focus, :valid){
    border: 2px solid #43AFFC;
}
.info-txt.error{
    display: block;
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}
.info-txt.pending{
    display: block;
    color: #0c5460;
    background: #d1ecf1;
    border: 1px solid #bee5eb;
}
.wrapper .weather-part{
    margin: 30px 0 0;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.wrapper.active .weather-part{
    display: flex;
}
.weather-part img{
    max-width: 125px;
}
.weather-part .temp{
    display: flex;
    font-size:72px;
    font-weight: 500;
}
.weather-part .temp .numb{
    font-weight: 600;
}
.weather-part .temp .deg{
    font-size: 40px;
    margin: 10px 5px 0 0;
    display: block;
}
.weather-part .weather{
    font-size: 21px;
    text-align: center;
    margin: -5px 20px 15px;
}
.weather-part .location{
    display: flex;
    align-items: center;
    font-size: 21px;
    margin-bottom: 30px;
}
.location i{
    font-size: 22px;
    margin-right: 5px;
}
.weather-part .bottom-details{
    /* background-color: red; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top: 1px solid #bfbfbf;
}
.bottom-details .column{
    width: 100%;
    display: flex;
    padding: 15px 0;

    align-items: center;
    justify-content: center;
}
.column i{
    font-size: 40px;
    color: #43AFFC;
}
.column.humidity{
    border-left: 1px solid #bfbfbf;
}
.details .temp, .humidity span{
    font-size: 18px;
    font-weight: 500;
    margin-top: -3px;
}
.details .temp .deg{
    margin: 0;
    font-size: 17px;
    padding: 0 2px 0 1px;
}
.details p{
    font-size: 14px;
    margin-top: -6px;
}