body{
    background-color: rgb(43, 41, 41);
    margin: 0;
    padding: 0;
}
.trigger-home{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 150%;
    width: 420px;
    height: 410px;
    margin-left: 180px;
}

.dropdown-home{
    cursor: pointer;
}
.dropdown-home:hover {
    color: red;
    text-decoration: underline;
}
.dropdown-content-home{
    display: none;
}
.trigger-home:hover > .dropdown-content-home {
    display: initial;
}

/* here we are fees hoverig change */
.dropdown-fees:hover{
    color: rgb(30, 244, 255);
    text-decoration: overline;
}

/* Now we are dropdown for faculty in home */
.dropdown-faculty:hover {
    color: rgb(236, 44, 44);
    text-decoration: overline;
}
.dropdown-faculty-content{
    display: none;
    float: right;
    color: rgb(255, 247, 0);
}
.trigger-home > .dropdown-content-home > .trigger-dropdown-faculty:hover > .dropdown-faculty-content {
    display: initial;
}

/* now we are dropdown for courses in home */
.dropdown-course:hover{
    color: rgb(4, 238, 0);
    text-decoration: overline;
} 
.dropdown-course-content{
    display: none;
    float: right;
    color: goldenrod;
}
.trigger-home > .dropdown-content-home > .trigger-dropdown-course:hover > .dropdown-course-content {
    display: initial;
}


/* now we are dropdown for department in home */
.dropdown-department:hover{
    color: rgb(4, 238, 0);
    text-decoration: overline;
} 
.dropdown-department-content{
    display: none;
    float: right;
    color: rgb(31, 159, 250);
}
.trigger-home > .dropdown-content-home > .trigger-dropdown-department:hover > .dropdown-department-content {
    display: initial;
}


/* here we are dropdown for lawfaculty in home and in Faculty */
.dropdown-faculty-lawfaculty:hover{
    color: rgb(187, 8, 8);
    text-decoration: underline;
}

.dropdown-faculty-lawfaculty-content{
    display: none;
    color: greenyellow;
}

.trigger-home > .dropdown-content-home > .trigger-dropdown-faculty > .dropdown-faculty-content > .trigger-dropdown-facult-lowfaculty:hover > .dropdown-faculty-lawfaculty-content{
    display: initial;
}

/* for template heading */
.template-heading{
    padding: 40px 0 50px 50px;
    background-color: rgb(64, 82, 87);
}
.template-heading-content{
    width: fit-content;
    background-color: rgb(214, 214, 132);
}
p{
    color: rgb(190, 133, 243);
}
strong{
    color: rgb(0, 255, 123);
}